<nav class="navbar navbar-expand navbar-light bg-light mb-2">
  <div class="container">
    <a class="navbar-brand" routerLink="/">Calendar</a>
    <div class="navbar-collapse">
      <ul class="navbar-nav  mb-0 me-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="live" routerLinkActive="active">Live</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="" routerLinkActive="active"
            [routerLinkActiveOptions]="{exact:true}">Schedule</a>
        </li>
      </ul>
      <!-- <img src="favicon.ico" class="me-2" height="40" alt="" loading="lazy" /> -->
    </div>
  </div>
</nav>
<router-outlet />