<div class="content">
  <div class="container">
    <h1>Handball Games</h1>
    <button type="button" class="btn btn-outline-dark me-3" *ngFor="let serie of serie_ids; let i = index"
      [class.active]="activeButton === i" (click)="changeSerie(serie.id)">
      {{ serie.label }}
    </button>
    <hr>

    <div class="mb-3">
      <button (click)="changeWeek(-1)" class="btn btn-outline-secondary me-3 ">Previous Week</button>
      <span>Week from {{ currentWeekStart.toLocaleString().split(',')[0]}}</span>
      <button (click)="changeWeek(1)" class="btn btn-outline-secondary ms-3">Next Week</button>
    </div>
    <div *ngIf="filteredGames.length > 0; else noMatches">
      <li *ngFor="let game of filteredGames">
        <a [routerLink]="['/match', game.code]">
          <strong>{{ game.date }}</strong> at <strong>{{ game.time }}</strong>:
          {{ game.home_team_name }} vs {{ game.away_team_name }}
        </a>
      </li>
    </div>
    <ng-template #noMatches>
      <div *ngIf="loading" class="loading">Loading...</div>
      <div *ngIf="!loading">No matches this week</div>
    </ng-template>



    <p *ngIf="!loading && filteredGames.length === 0">No games available.</p>
  </div>
</div>