<table class="table table-striped">
    <thead>
        <tr>
            <th class="h4" style="text-align: left;" colspan="100%" >{{tableHeader()}}</th>
        </tr>
        <tr>
            <th>#
            </th>
            <th style="text-align:left">Name
            </th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th style="text-align:right"> 
                <fa-icon [icon]="faFutbol" *ngIf="isPlayer()"></fa-icon>
            </th>
            <th style="text-align:right"> <span *ngIf="isPlayer()">7m</span> </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let player of sortedPlayers">
            <td>
                {{ player.nr }}
            </td>
            <td style="text-align:left">
                {{ player.firstname }} {{ player.lastname }}
                <span *ngIf="isGoalKeeper(player)"> (GK)</span>
            </td>
            <td>
                <fa-icon [icon]="faMobileButton" *ngIf="getWarning(player.id,events)" style="color: yellow;"></fa-icon>
            </td>
            <td>
                <fa-icon [icon]="faHandPeace" *ngFor="let p of getPenalties(player.id,events)" style="color: blue;"></fa-icon>
            </td>
            <td> 
                <fa-icon [icon]="faMobileButton" *ngIf="getDQ(player.id,events)" style="color: red;"></fa-icon>
            </td>
            <td>
                <fa-icon [icon]="faMobileButton" *ngIf="getDQR(player.id,events)" style="color: blue;"></fa-icon>
            </td>
            <td style="text-align:right">{{ getGoals(player.id, events) }}</td>
            <td style="text-align:right">{{ getSevenMeterGoals(player.id, events) }}</td>
        </tr>
    </tbody>
</table>